*{
    font-family: 'Kalam', cursive;
    margin:0;
    padding: 0;
}
body{
    background-color: rgb(17, 2, 11);
}
.display-container{
   border: 2px solid black;
   background-color: rgb(17, 2, 11);
   min-height: 100% !important;
   width:100vw;
   height:100vh;
   margin: 0 auto;
   display:grid;
   grid-template-rows: 1fr 8fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   text-align: center;
}
/******************************************************************************TITLE/NAV BAR*/
.navigation-bar{
    grid-row: 2fr;
    grid-column: 1 / span 5;
}
#title{
    font-size: 6rem; 
    margin:0 auto;
    padding-top:2rem;
    background: url('https://media.istockphoto.com/id/1248542684/vector/abstract-blurred-colorful-background.jpg?s=612x612&w=0&k=20&c=6aJX8oyUBsSBZFQUCJDP7KZ1y4vrf-wEH_SJsuq7B5I=');
    background-position: bottom center;
    background-size:auto;
    /* while image takes awhile to load!  */
    background-color:#ff00ff; 
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    filter: brightness(1.2);
}
/*****************************************************************************PLAYER COLUMNS*/
#player-column-X{
    grid-row: 2;
    grid-column: 1 /span 1;
}

#player-column-O{
    grid-row: 2;
    grid-column: 5 /span 1;
}

#player-X, #score-X{
    color:white;
	-webkit-text-stroke: 1px #29FFFF;
	-webkit-text-fill-color:#29FFFF;
    margin-left: 2rem;
    font-size: 4vw;
}
#player-O, #score-O{
    color:white;
	-webkit-text-stroke: 1px #FD4270;
	-webkit-text-fill-color:#FD4270;
    margin-right:2rem;
    font-size: 4vw;
}

#score-X, #score-O {
    font-size: 6vw;
    line-height:2vw;
    margin-top:25px;
    padding:1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.active{
    border-radius:25px;
    border: 3px solid rgb(126, 0, 175);
    box-shadow: inset 0 0 2rem 0 rgb(110, 54, 194), 0 0 1rem rgb(154, 2, 255); 
    background-color: #2f094a;
    animation: blinking 1s infinite alternate;
    position: relative;
    z-index:10;
    transition: ease-out 200ms;
 
}
@keyframes blinking{
    25%{
        opacity: 1;
    }
    75%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}

/*******************************************************************************GAME BOARD*/
.gameboard-display{
    grid-row: 2; 
    grid-column: 2 /span 3;
    margin: auto 0;
    background: linear-gradient(-45deg, #ff6600,#ff00ff, #ff3300, #00ff66, #00ffff, #3112cd,  #ff6600,#ff00ff, #ff3300, #00ff66, #00ffff, #3112cd );
    background-size: 200% 200%;
    animation: gradient 30s ease infinite; 
    /* margin-left:3vw;
    margin-right:3vw; */
    position: relative;
}

@keyframes gradient {
  0%{background-position: 0 20%;}
  20%{background-position: 80% 20%;}
  40%{background-position: 80% 160%}
  60%{background-position: 160% 80%;}
  80%{background-position:  20% 80%;}
  100%{background-position: 20% 0}
}

#board{
    display: grid; 
    grid-gap:3px;
    grid-auto-rows: minmax(170px, auto);
    grid-template-columns: 1fr 1fr 1fr;
}
.square{
    font-size:7vw;
    background-color: rgb(17, 2, 11);
    border: none;
    color:rgb(226, 44, 44);
}
.X-color{
    text-shadow: 2px 1px 10px  rgb(72, 175, 248);
	-webkit-text-stroke: 1px  rgb(12, 77, 123);
	-webkit-text-fill-color: #29FFFF;
}
.O-color{
 
    text-shadow: 2px 1px 10px #fa42fd;
    -webkit-text-stroke: 1px #fd42fd;
    -webkit-text-fill-color: #FD4270;
}
.active-winner{
    position: absolute;
    top: 0; 
    right: 0;
    height: 95%; 
    width:80vw;
    border-radius:25px;
    border: 3px solid rgb(126, 0, 175);
    box-shadow: inset 0 0 2rem 0 rgb(110, 54, 194), 0 0 1rem rgb(154, 2, 255); 
    background: rgb(0, 0, 0);
    padding:15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color:#6BAFFA; 
    font-size:3rem;
    flex-direction: column;
}
.refresh-btn{
    width: 250px; 
    height: 80px; 
    border-radius: 25px;
    font-size:2rem;
    font-weight: bolder;
    color: #e12d5a;
    border: 3px solid #e12d5a;
    background-color: black; 
}
.restart-btn{
    width: 250px; 
    height: 80px; 
    border-radius: 25px;
    font-size:1.5rem;
    font-weight: bolder;
    color: #29FFFF;
    border: 3px solid #23dada;
    background-color: black;
}
#confetti-canvas{
    position: absolute; 
    top:0; 
    left: 0; 
    z-index: 10000;
}
#start-game{
    position: absolute;
    top: 0%; 
    right:0%; 
    height:100%;
    width:100%;
    border-radius:25px;
    background: linear-gradient(0deg, rgb(0, 0, 0), rgb(89, 88, 88));
    border: 3px solid rgb(126, 0, 175);
    box-shadow: inset 0 0 2rem 0 rgb(110, 54, 194), 0 0 1rem rgb(154, 2, 255); 
    align-items: center;
    justify-content: space-evenly;
    color:rgb(195, 195, 251); 
    font-size:1.8em;
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
} 
#start-game > p{
    padding:1rem; 
}

#start-game > input{
    height: 8vh;
    width: 90%;
    border-radius:15px;
    font-size:1.8rem;
    padding:2px;
    margin:10px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(217, 216, 217);
}

#restart-btn{
    width:300px; 
    height: 100px; 
}
.opener-btn-box{
    display: flex;
    width:100%;
    justify-content: space-around;
    height:10vh;
    font-size:10rem;
}
.opener-btn1, .opener-btn2{
    width:40%;
    height:6vh;
    line-height:6.2vh;
    text-align: center;
    font-weight: bolder;
    background-color:rgb(34, 33, 33);
    color: rgb(126, 0, 175);
    border: 1px solid purple;
    border-radius:10px;
    font-size: 2rem;
    vertical-align:center;
    text-align: center;
}
.opener-btn1{
    border:  1px solid #2EE9F4; 
    color: #2EE9F4;
}
.opener-btn2{
    border: 1px solid #FD4270;
    color: #FD4270;
}
.opener-btn1:hover, .opener-btn2:hover{
    border: 1px solid rgb(126, 0, 175);
    box-shadow: inset 0 0 2rem 0 rgb(110, 54, 194), 0 0 1rem rgb(154, 2, 255); 
    transition: ease-in 200ms
}
#incorrect-input{
    font-weight: bold; 
    color: red; 
}

.restart-game{
    position: absolute;
    top: 30%; 
    right: 22%; 
    height:30%;
    width:50%;
    border-radius:25px;
    background: linear-gradient(180deg, rgb(0, 0, 0), rgb(53, 36, 60));
    border: 3px solid rgb(126, 0, 175);
    box-shadow: inset 0 0 2rem 0 rgb(110, 54, 194), 0 0 1rem rgb(154, 2, 255); 
    padding:30px;
    align-items: center;
    justify-content: space-evenly;
    color:rgb(195, 195, 251); 
    font-size:2.2rem;
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
    display: flex;
    visibility: hidden;
}
.restart-button{
    width:200px; 
    height:200px;
}

/*************************************************************************************MEDIA QUERIES!*/

@media only screen and (max-width: 780px){
    .display-container{
        grid-template-rows: .2fr 2fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width:90vw;
    }
    
    #title{
        font-size:2.5rem;
        margin: 0;
    }

    #player-column-X{
        grid-row: 3; 
        grid-column: 1/ span 2;
        font-size: 6vw;
    }

    #player-column-O{
        grid-row: 3; 
        grid-column: 3 /span 2;
        font-size: 6vw;
    }
    .navigation-bar{
        grid-row:1;
        grid-column:1/ span 4;
    }

    .gameboard-display{
        grid-row: 2 / span 1; 
        grid-column: 1 / span 4;
     
       
    }
    #board{
        grid-auto-rows: minmax(120px, max-content);
        grid-template-columns: 1fr 1fr 1fr;
        font-size:2rem;
   
    }
    .square{
        font-size: 4rem;
      
    }
    #scoreX, #scoreO{
        font-size: 6vw;;
        margin: 0px;
    }
    .restart-game{
        position:fixed;
        width: 60vw;
        height:40vh;
        top:40%;
        left:50%;
        transform: translate(-50%, -50%);
    }
    #incorrect-input{
        font-size:4.5vw;
    }
}